<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>review</title>
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>
		<div class="container">
			<h1>review</h1>
			<a
				href="http://localhost:3000/admin/profile"
				class="back"
				style="margin-bottom: 10px; display: block; width: 65px"
			>
				Back</a
			>
			<div class="books"></div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.lordicon.com/lordicon.js"></script>
		<script src="/javascripts/adminBook.js"></script>
	</body>
</html>
