<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>show reviews</title>
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="icon" href="/favicon-32x32.png" />
	</head>
	<body>
		<div class="container">
			<h1>show books</h1>
			<a class="back" href="http://localhost:3000/users/profile">Back</a>
			<a
				class="back"
				style="background-color: rgb(101, 168, 33)"
				href="http://localhost:3000/book/get/favorites"
				>favorite</a
			>
			<div id="books">
				<div class="reting"></div>
				<div class="modal"></div>
			</div>
		</div>
	</body>
	<script src="https://cdn.lordicon.com/lordicon.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/javascripts/book.js"></script>
	<script src="/javascripts/comment.js"></script>
</html>
